﻿body, button {
  font-size: 14px !important; }

.LoginRegisterBox {
  width: 50%;
  margin: auto;
  margin-top: 10%;
  background-color: blue;
  padding-top: 15px;
  padding-bottom: 35px; }

.NiceBorders {
  border-style: solid;
  width: auto;
  height: auto;
  margin-bottom: 5px;
  margin-left: 20%;
  margin-right: 20%; }

.LoginRegisterTextBox {
  width: 50%;
  margin: auto;
  margin-top: 45px; }

.Logo {
  background-size: 100% 100%;
  position: absolute;
  top: -20px;
  width: 150px;
  height: 150px; }

.MainGame {
  width: 70%;
  height: auto;
  margin: auto;
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 30px;
  background-color: blue; }

.GameButton {
  padding-top: 5px;
  padding-bottom: 5px; }

.MainGameWindow {
  width: inherit;
  background-color: yellowgreen; }

.CharacterInformation {
  width: 85%; }

.CharacterEq {
  border-bottom: none;
  border-image: url(frame/kisspng-picture-frames-line-point-pattern-curly-frame-5b252530e62ae2.8569065115291610089428.png) 25%;
  border-image-width: 190px;
  border-image-outset: 35px 60px;
  border-image-repeat: stretch; }

.EqSlots {
  border: solid;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain; }

.BpSlots {
  width: 10%;
  border: inset;
  background-color: grey; }

.GenderPictureMale {
  margin-left: 10px;
  background-image: url("gender/user-male-icon.png");
  height: 200px;
  width: 200px;
  background-size: 200px;
  background-repeat: inherit;
  margin: auto; }

.GenderPictureFemale {
  margin-left: 10px;
  background-image: url("gender/female-icon-7893.png");
  height: 200px;
  width: 200px;
  background-size: 200px;
  background-repeat: inherit;
  margin: auto; }

.GenderPick {
  padding-left: 10px;
  padding-right: 10px; }

.CharacterBeginStats {
  padding-left: 30px;
  font-size: 16px;
  padding-top: 5px;
  color: yellow; }

.BtnCharacterStatAdd {
  margin-left: 20px;
  background-color: Transparent;
  color: yellow; }

.CharacterStatExample {
  margin: auto;
  font-size: 14px;
  color: lawngreen; }

input {
  display: inline; }
