﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Banned</title>
</head>
<body>
    <div> 
        Sorry your account have been baned.
    </div>
</body>
</html>
