﻿@model InfinityHeroWebGame.Domain.Entities.AccountEntity

    <div class="row" style="height:70%;">
        <div class="col-5 CharacterEq">
            <div class="row" style="height:25%">
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Necklace"])">Naszyjnik</div>
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Helmet"])">Hełm</div>
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Earrings"])">Kolczyki</div>
            </div>
            <div class="row" style="height:35%;">
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Weapon"])"></div>     
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Armor"])">Zbroja</div>
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Shield"])">2Bron/tarcza</div>
            </div>
            <div class="row" style="height:25%">
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Gloves"])">Rękawice</div>
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Boots"])">Buty</div>
                <div class="col-4 EqSlots" style="background-image:url(@ViewData["Ring"])">Pierscien</div>
            </div>
            <div class="row" style="height:5%">
                <div class="col-12 EqSlots">@Model.Character.MaxHp/@Model.Character.CurrentHp</div>
            </div>
            <div class="row" style="height:5%">
                <div class="col-12 EqSlots">@Model.Character.MaxMp/@Model.Character.CurrentMp</div>
            </div>
            <div class="row" style="height:5%">
                <div class="col-12 EqSlots">@Model.Character.Exp/@Model.Character.ExpForNextLvl</div>
            </div>
        </div>
        <div class="col-7 CharacterBp">
            <div class="row" style="height:10%;">
                @for (int i = 0; i < 10; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 10; i < 20; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 20; i < 30; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 30; i < 40; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 40; i < 50; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 50; i < 60; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 60; i < 70; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 70; i < 80; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 80; i < 90; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
            <div class="row" style="height:10%;">
                @for (int i = 90; i < 100; i++)
                {
                    <span class="BpSlots" id="slot_@i">@i</span>
                }
            </div>
        </div>
    </div>
<div class="row" style="height:30%; padding-left:20px;">
    <div class="col-3">
        <div class="row" style="height:20%;"> Strenght:@Model.Character.Strength</div>
        <div class="row" style="height:20%;"> Inteligence:@Model.Character.Intelligence</div>
        <div class="row" style="height:20%;"> Agility:@Model.Character.Agility</div>
        <div class="row" style="height:20%;"> Luck:@Model.Character.Luck</div>
        <div class="row" style="height:20%;"> Vitality:@Model.Character.Vitality</div>
    </div>
    <div class="col-3">
        <div class="row" style="height:20%;"> Attack:@Model.Character.MinAttack-@Model.Character.MaxAttack</div>
        <div class="row" style="height:20%;"> Magic Attack:@Model.Character.MinMagickAttack-@Model.Character.MaxMagickAttack</div>
        <div class="row" style="height:20%;"> Hit:@Model.Character.HitRate%</div>
        <div class="row" style="height:20%;"> Critical Hit:@Model.Character.CritRate%</div>
        <div class="row" style="height:20%;"> Rambler:@Model.Character.Rambler</div>
    </div>
    <div class="col-3">
        <div class="row" style="height:20%;"> Defense:@Model.Character.Defense</div>
        <div class="row" style="height:20%;"> Magic Defense:@Model.Character.MagicDefense</div>
        <div class="row" style="height:20%;"> Kills:@Model.Character.Deaths </div>
        <div class="row" style="height:20%;"> Deaths:@Model.Character.Kills</div>
        <div class="row" style="height:20%;"> Honor:@Model.Character.Honor</div>
    </div>
    <div class="col-3">
        <div class="row" style="height:33%;"> Class:@Model.Character.HeroClass</div>
        <div class="row" style="height:33%;"> SubClass:@Model.Character.SecondClass</div>
        <div class="row" style="height:34%;"> Talent Tree</div>
    </div>
</div>