﻿@model InfinityHeroWebGame.Domain.Entities.CharacterEntity

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>

    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <title>Create Character</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="MainGame">
            <h4 class="text-center NiceBorders">Create Character</h4>
            <div class="row">
                <div class="col-4 text-center">
                    <div id="GenderPicture" class="GenderPictureMale"></div><hr />
                    <span class="GenderPick">
                        @Html.RadioButtonFor(m => m.Gender, "Male", new { @onchange = "MaleSelected();", @checked = "checked" }) Male
                    </span>
                    <span class="GenderPick">
                        @Html.RadioButtonFor(m => m.Gender, "Female", new { @onchange = "FemaleSelected();" }) Female
                    </span>
                </div>
                <div class="col-8">
                    @ViewBag.Error
                    <div class="LoginRegisterTextBox">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Name" } })
                    </div>
                    <div class="row">
                        <div class="col-3 ">
                            <div class="CharacterBeginStats">Strenght: @Html.LabelFor(model => model.Strength, "5", new { id = "Strenght" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddStrenght()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusStrenght()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character dmg</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="CharacterBeginStats">Inteligence: @Html.LabelFor(model => model.Intelligence, "5", new { id = "Inteligence" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddInteligence()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusInteligence()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character magic dmg and max Mana</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="CharacterBeginStats">Agility: @Html.LabelFor(model => model.Agility, "5", new { id = "Agility" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddAgility()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusAgility()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character hit percent</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="CharacterBeginStats">Luck: @Html.LabelFor(model => model.Luck, "5", new { id = "Luck" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddLuck()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusLuck()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character crit percent</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="CharacterBeginStats">Rambler: @Html.LabelFor(model => model.Rambler, "5", new { id = "Rambler" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddRambler()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusRambler()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character percent for rare item found</div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="CharacterBeginStats">Vitality: @Html.LabelFor(model => model.Vitality, "5", new { id = "Vitality" })</div>
                        </div>
                        <div class="col-3">
                            <span class="btn BtnCharacterStatAdd" onclick="AddVitality()">+</span>
                            <span class="btn BtnCharacterStatAdd" style="margin-left:5px;" onclick="MinusVitality()">-</span>
                        </div>
                        <div class="col-6 CharacterStatExample">Add Character max HP</div>
                    </div>
                    <div class="CharacterBeginStats">Left: <span id="Left">20</span></div>
                </div>
            </div>
            <input type="submit" value="Create" class="btn btn-default btn-block" style="margin:auto;margin-left:10px; margin-top:15px;" />
        </div>
        @Html.EditorFor(model => model.Strength, new { htmlAttributes = new { style = "display:none;", id = "AccStrenght", Value = 5 } })
        @Html.EditorFor(model => model.Intelligence, new { htmlAttributes = new { style = "display:none;", id = "AccInteligence", Value = 5 } })
        @Html.EditorFor(model => model.Agility, new { htmlAttributes = new { style = "display:none;", id = "AccAgility", Value = 5 } })
        @Html.EditorFor(model => model.Rambler, new { htmlAttributes = new { style = "display:none;", id = "AccRambler", Value = 5 } })
        @Html.EditorFor(model => model.Luck, new { htmlAttributes = new { style = "display:none;", id = "AccLuck", Value = 5 } })
        @Html.EditorFor(model => model.Vitality, new { htmlAttributes = new { style = "display:none;", id = "AccVitality",Value=5 } })
    }
    <script type="text/jscript">
        function AddStrenght() {

            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Strenght").textContent;
                var y = +x + 1;
                document.getElementById("Strenght").textContent = y;
                document.getElementById("AccStrenght").setAttribute('value', y);
            }
        }
        function MinusStrenght() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Strenght").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Strenght").textContent;
                var y = +x - 1;
                document.getElementById("Strenght").textContent = y;
                document.getElementById("AccStrenght").setAttribute('value', y);
            }
        }
        function AddInteligence() {
            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Inteligence").textContent;
                var y = +x + 1;
                document.getElementById("Inteligence").textContent = y;
                document.getElementById("AccInteligence").setAttribute('value', y);

            }
        }
        function MinusInteligence() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Inteligence").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Inteligence").textContent;
                var y = +x - 1;
                document.getElementById("Inteligence").textContent = y;
                document.getElementById("AccInteligence").setAttribute('value', y);
            }
        }
        function AddAgility() {
            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Agility").textContent;
                var y = +x + 1;
                document.getElementById("Agility").textContent = y;
                document.getElementById("AccAgility").setAttribute('value', y);

            }
        }
        function MinusAgility() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Agility").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Agility").textContent;
                var y = +x - 1;
                document.getElementById("Agility").textContent = y;
                document.getElementById("AccAgility").setAttribute('value', y);
            }
        }
        function AddLuck() {
            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Luck").textContent;
                var y = +x + 1;
                document.getElementById("Luck").textContent = y;
                document.getElementById("AccLuck").setAttribute('value', y);
            }
        }
        function MinusLuck() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Luck").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Luck").textContent;
                var y = +x - 1;
                document.getElementById("Luck").textContent = y;
                document.getElementById("AccLuck").setAttribute('value', y);
            }
        }
        function AddRambler() {
            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Rambler").textContent;
                var y = +x + 1;
                document.getElementById("Rambler").textContent = y;
                document.getElementById("AccRambler").setAttribute('value', y);
            }
        }
        function MinusRambler() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Rambler").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Rambler").textContent;
                var y = +x - 1;
                document.getElementById("Rambler").textContent = y;
                document.getElementById("AccRambler").setAttribute('value', y);
            }
        }
        function AddVitality() {
            var left = document.getElementById("Left").textContent;
            if (!+left == 0) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left - 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Vitality").textContent;
                var y = +x + 1;
                document.getElementById("Vitality").textContent = y;
                document.getElementById("AccVitality").setAttribute('value', y);
            }
        }
        function MinusVitality() {
            var left = document.getElementById("Left").textContent;
            var strenght = document.getElementById("Vitality").textContent;
            if (+strenght != 5) {
                var left = document.getElementById("Left").textContent;
                var leftAfterMinus = +left + 1;
                document.getElementById("Left").textContent = leftAfterMinus;
                var x = document.getElementById("Vitality").textContent;
                var y = +x - 1;
                document.getElementById("Vitality").textContent = y;
                document.getElementById("AccVitality").setAttribute('value', y);
            }
        }

        function MaleSelected() {
            document.getElementById("GenderPicture").className = "GenderPictureMale";
        }
        function FemaleSelected() {
            document.getElementById("GenderPicture").className = "GenderPictureFemale";
        }

    </script>
</body>
</html>
