﻿@model InfinityHeroWebGame.Domain.Entities.AccountEntity

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <title>Infinity Hero</title>
</head>
<body>
    <div class="modal-header">
        <img src="~/Content/logo/logo.png" class="Logo" />
        <div class="col-sm-12 text-right">
            <a href="home/logout">Logout</a>
        </div>
    </div>
    <div class="container-fluid MainGame text-center">
        <div class="row NiceBorders">
                <div class="col-3">Gold:</div>
                <div class="col-3">Hero Coin:</div>
                <div class="col-3">Adventure Moves:</div>
                <div class="col-3">@Model.Character.Name</div>
        </div>
        <div class="row">
            <div class="col-3">
                <div class="GameButton"><button onclick="RenderCharacterView()" class="btn btn-block">Character</button></div>
                <div class="GameButton"><button onclick="RenderTrainingView()" class="btn btn-block">Training</button></div>
                <div class="GameButton"><button onclick="RenderMessageView()" class="btn btn-block">Message</button></div>
                <div class="GameButton"><button onclick="RenderGuildView()" class="btn btn-block">Guild</button></div>
                <div class="GameButton"><button onclick="RenderWorkView()" class="btn btn-block">Work</button></div>
                <div class="GameButton"><button onclick="RenderShopView()" class="btn btn-block">Shop</button></div>
                <div class="GameButton"><button onclick="RenderArenaView()" class="btn btn-block">Arena</button></div>
                <div class="GameButton"><button onclick="RenderTavernView()" class="btn btn-block">Tavern</button></div>
                <div class="GameButton"><button onclick="RenderDungeonView()" class="btn btn-block">Dungeon</button></div>
                <div class="GameButton"><button onclick="RenderAdventureView()" class="btn btn-block">Adventure</button></div>
                <div class="GameButton"><button onclick="RenderBestiaryView()" class="btn btn-block">Bestiary</button></div>
                <div class="GameButton"><button onclick="RenderAchievementsView()" class="btn btn-block">Achievements</button></div>
                <div class="GameButton"><button onclick="RenderRankingView()" class="btn btn-block">Ranking</button></div>
                <div class="GameButton"><button onclick="RenderHeroCoinView()" class="btn btn-block">Hero Coin</button></div>
            </div>
            <div class="MainGameWindow col-9">
                @Html.Partial("CharacterPV")
            </div>
        </div>
    </div>
    <script type="text/jscript">
        function RenderCharacterView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/CharacterView');
            });
        }
        function RenderTrainingView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/TrainingView');
            });
        }
        function RenderMessageView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/MessageView');
            });
        }
        function RenderGuildView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/GuildView');
            });
        }
        function RenderWorkView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/WorkView');
            });
        }
        function RenderShopView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/ShopView');
            });
        }
        function RenderArenaView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/ArenaView');
            });
        }
        function RenderTavernView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/TavernView');
            });
        }
        function RenderDungeonView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/DungeonView');
            });
        }
        function RenderAdventureView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/AdventureView');
            });
        }
        function RenderBestiaryView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/BestiaryView');
            });
        }
        function RenderAchievementsView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/AchibementsView');
            });
        }
        function RenderRankingView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/RankingView');
            });
        }
        function RenderHeroCoinView() {
            $(document).ready(function () {
                $(".MainGameWindow").load('/home/HeroCoinView');
            });
        }
    </script>
</body>
</html>
