﻿@model InfinityHeroWebGame.Domain.Entities.AccountEntity

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginAndRegister.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="container-fluid">
        <div class="LoginRegisterBox">
            @using (Html.BeginForm())
            {
                <div class=""><h4 class="text-center NiceBorders ">Login And Get Started!</h4></div>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <span class="text-danger">@ViewBag.LoginError</span>
                <div class="LoginRegisterTextBox">
                    @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Login" } })
                </div>
                <div class="LoginRegisterTextBox">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control text-center", placeholder = "Password" } })
                </div>
                <div class="row LoginRegisterTextBox ">
                    <div class="col-md-4">
                        <input type="submit" value="Login" class="btn btn-default" />
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Register!", "Register", null, new { htmlAttributes = new { @class = "" } })
                    </div>
                    <div class="col-md-4">
                        @Html.ActionLink("Forgotten Password?", "ForgetPassword", null, new { htmlAttributes = new { @class = "" } })
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
