﻿@model InfinityHeroWebGame.Domain.Entities.AccountEntity

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LoginAndRegister.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="LoginRegisterBox">
    <div class="form-horizontal text-center">
        <h4 class="text-center NiceBorders">Create Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger text-center" })
        <div class="col-md-10 LoginRegisterTextBox">
            <span class="text-danger">@ViewBag.LoginDuplicate</span>
            @Html.EditorFor(model => model.Login, new { htmlAttributes = new { @class = "form-control", placeholder = "Login" } })
            @Html.ValidationMessageFor(model => model.Login, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>
        <div class="LoginRegisterTextBox"><h4 class="text-center">For Recovery, not required</h4></div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", placeholder = "First Name" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.SurName, new { htmlAttributes = new { @class = "form-control", placeholder = "Surname" } })
            @Html.ValidationMessageFor(model => model.SurName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", placeholder = "Phone" } })
            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-10 LoginRegisterTextBox">
            @Html.EditorFor(model => model.RecoveryEmail, new { htmlAttributes = new { @class = "form-control", placeholder = "Recovery Email" } })
            @Html.ValidationMessageFor(model => model.RecoveryEmail, "", new { @class = "text-danger" })
        </div>
        <div class="form-group LoginRegisterTextBox">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</div>
        
}


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
